@model CountMeIn.ViewModels.UserItem

@{
    ViewBag.Title = "Влизане";
}
@*@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

    @*<h2>Use a local account to log in.</h2>@using (Html.BeginForm("Login", "User", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
    *@
    @using (Html.BeginForm())
    {
        
    <fieldset class ="Form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    
        @*<legend>Log in Form</legend>*@
        @*<ol>
            <li>*@
        <div class="label">
            @Html.Encode(Resources.Common.UserName + "/" + Resources.Common.Email)
        </div>
        @Html.TextBoxFor(m => m.UserName)
        @*@Html.ValidationMessageFor(m => m.UserName)*@
        @*</li>
            <li>*@
        <div class="label">
            @Html.Encode(Resources.Common.Password)
        </div>
        @Html.PasswordFor(m => m.Password)
        @*@Html.ValidationMessageFor(m => m.Password)*@
        @*</li>
            </ol>*@

        <input type="submit" value="@Resources.Common.Login" />
        <div class="button float-right">
            @Html.ActionLink(Resources.Common.Register, "Register")
        </div>
    </fieldset >
    }


<div class="cl"></div>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@