@model CountMeIn.ViewModels.EventItem

@{
    ViewBag.Title = "InputEvent";
}

<h2>InputEvent</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EventItem</legend>

        @Html.HiddenFor(model => model.ID)

@{
    ViewBag.Title = "Създаване на събитие";
    Html.EnableClientValidation(true);
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(false)*@

    <fieldset class="Form">
        @*<legend>EventItem</legend>*@

        <div class="label">
            @Html.Encode(Resources.Common.EventName)
        </div>
        <div class="field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventLocation)
        </div>
        <div class="field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventStartDate)
        </div>
        <div class="field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventEndDate)
        </div>
        <div class="field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventStartHour)
        </div>
        <div class="field">
            @Html.EditorFor(model => model.StartHour)
            @Html.ValidationMessageFor(model => model.StartHour)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventEndHour)
        </div>
        <div class="field">
            @Html.EditorFor(model => model.EndHour)
            @Html.ValidationMessageFor(model => model.EndHour)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventHoursOffset)
        </div>
        <div class="field">
            @*@Html.TextBoxFor(model => model.HoursOffset, null, new { min = 2, max = 22 })*@
            @Html.EditorFor(model => model.HoursOffset)
            @Html.ValidationMessageFor(model => model.HoursOffset)
        </div>

        <div class="label">
            @Html.Encode(Resources.Common.EventMaxUsers + " за записване")
        </div>
        <div class="field">
            @*@Html.TextBoxFor(model => model.MaxUsers, null, new { min = 2, max = 22 })*@
            @Html.EditorFor(model => model.MaxUsers)
            @Html.ValidationMessageFor(model => model.MaxUsers)
        </div>

        <p>
            <input type="submit" value="@Resources.Common.Create" />
        </p>

        <div class="button">
            @Html.ActionLink(Resources.Common.Back, "EventsList")
        </div>

    </fieldset>
}

<div class="cl"></div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@




        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartHour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartHour)
            @Html.ValidationMessageFor(model => model.StartHour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndHour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndHour)
            @Html.ValidationMessageFor(model => model.EndHour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoursOffset)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoursOffset)
            @Html.ValidationMessageFor(model => model.HoursOffset)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxUsers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxUsers)
            @Html.ValidationMessageFor(model => model.MaxUsers)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
